<form [formGroup]="form" (ngSubmit)="createProduct($event)">
  <mat-card>
      <mat-card-header>
          <mat-card-title>Producto</mat-card-title>
      </mat-card-header>
      <mat-card-content class="form-content">
          <!-- Id -->
          <mat-form-field appearance="outline" class="id">
              <mat-label>Id</mat-label>
              <input matInput formControlName="id" type="text">
          </mat-form-field>
          <!-- Title -->
          <mat-form-field appearance="outline" class="title">
              <mat-label>Title</mat-label>
              <input matInput formControlName="title" type="text">
          </mat-form-field>
          <!-- Price -->
          <mat-form-field appearance="outline" class="price">
              <mat-label>Price</mat-label>
              <input matInput formControlName="price" type="number">
              <!-- El siguiente div es para mostrar los errores solo si hay y el usuario ya comenzo a escribir -->
              <div *ngIf="form.get('price').errors && form.get('price').dirty">
                <p *ngIf="form.get('price').hasError('price_invalid')"> Es valor es superior al limite</p>
              </div>
              
          </mat-form-field>
          <!-- Image -->
          <mat-form-field appearance="outline" class="image">
              <mat-label>Image</mat-label>
              <input matInput formControlName="image" type="text">
          </mat-form-field>
          <!-- Description -->
          <mat-form-field appearance="outline" class="description">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description" type="text"></textarea>
          </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
          <button [disabled]="form.invalid" mat-raised-button color="primary" type="submit">Crear producto</button>
      </mat-card-actions>
  </mat-card>
</form>