:host{
  margin: 0;
  
}
mat-card {
    width: 94%;
    margin: 2%;
}
.form-content {
    display: grid;
    margin:0;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 70px 70px 70px 0.1fr;
    grid-template-areas: "id" "title" "price" "image" "description";
}
.id{
    grid-area: id;
    font-size: 14px;
}
.title{
    grid-area: title;
    font-size: 14px;
}
.price{
    grid-area: price;
    font-size: 14px;
}
.image{
    grid-area: image;
    font-size: 14px;
}
.description{
    grid-area: description;
    font-size: 14px;
    margin: 0;
    padding: 0;
}