<input type="text" [(ngModel)]="title"/>
{{ title }}

<div *ngIf ="title ==='nicolas'">
  este es un div
</div>

<div *ngIf="title === 'Store'; then store else welcome">
  Simple vista
</div>
<!-- Vista o template-->
<ng-template #store>
  Mostrando contenido
</ng-template>

<ng-template #welcome>
  Bienvenido a Platzi Store
</ng-template>




<!-- <input type="text" [(ngModel)]="title"/>
{{ title }}

<div *ngIf ="title ==='nicolas'">
  este es un div
</div>

<div *ngIf="title === 'Store'; then store else welcome">
  Simple vista
</div> -->

<!-- Vista o template-->
<!-- <ng-template #store>
  Mostrando contenido
</ng-template>

<ng-template #welcome>
  Bienvenido a Platzi Store
</ng-template> -->