<input type="text" [(ngModel)]="title"/>
{{ title }}

<div *ngIf ="title ==='nicolas'">
  este es un div
</div>

<ul>
  <li *ngIf="personas.length === 0">La lista esta vacia</li>
  <li *ngFor="let name of personas; index as i" >
    {{name}}{{i}}
    <button (click)="deleteItem(i)">Borrar</button>
  </li>
</ul>

<p>
  Agregar un item al array, con un valor capturado de un input
</p>
<input type="text" [(ngModel)]="nombre">
<button (click)="addItem(nombre)">Nuevo Item</button>

<!-- <input type="text" [(ngModel)]="title"/>
{{ title }}

<div *ngIf ="title ==='nicolas'">
  este es un div
</div>

<div *ngIf="title === 'Store'; then store else welcome">
  Simple vista
</div> -->

<!-- Vista o template-->
<!-- <ng-template #store>
  Mostrando contenido
</ng-template>

<ng-template #welcome>
  Bienvenido a Platzi Store
</ng-template> -->