<h3 appHighlight>{{ product.title | uppercase}}</h3>
<img [src]="product.image" alt="Product Image">
<strong class="price">{{ product.price | currency }}</strong>
<div [ngSwitch]="product.price">
  <p *ngSwitchCase="800.00">10% de descuento en tu siguiente compra</p>
  <p *ngSwitchCase="8000.00">Envío gratuito</p>
  <p *ngSwitchCase="80000.00">Envío gratuito + 5% de descuento extra</p>
  <p *ngSwitchDefault>Sin promocion</p>
</div>
<p>{{ product.description | slice:0:10 }}</p>
<p>{{ today | date: 'medium' }}</p>
<button (click)="addToCart()">Agregar al carrito</button>
<a routerLink="./{{product.id}}">Ver detalle</a>
<!-- Otra forma que funciona concatenando
<a [routerLink]="['./', product.id]">Ver detalle</a> -->